.d-img>img{
    height: 360px;
    width: 82%;
    object-fit: cover;
}


.cnt>p{
    text-align: justify;
}

@media only screen and (max-width: 768px){
    .cnt>p{
        text-align: center;
    }
}