.f-outer{
    background: #171724;
    padding: 100px 0 115px;
    color: #fff;
}

.f-bottom{
    background: #0c0c17;
    color: #fff;
    font-size: 16px;
    padding: 20px 0;
}

.icon>ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.f-par>p{
    font-size: 11px;
    text-align: right;
}